/* components/Star.module.css */
.star {
    position: absolute;
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;
  }
  
  .staranimate {
    animation: blink 2s linear infinite;
  }
  
  @keyframes blink {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }
  